<h1 class="text-4xl font-bold mb-6 max-w-lg mx-auto">Resistencia</h1>
<form [formGroup]="formulario" class="max-w-lg mx-auto">
  <div class="grid grid-cols-3 gap-6">  
    <div>
      <label for="banda1" class="block text-lg font-semibold">Banda 1:</label>
      <select formControlName="banda1" class="block w-full border rounded-lg px-3 py-2">
        <option *ngFor="let color of colores" [value]="color.valor">{{ color.nombre }}</option>
      </select>
    </div>

    <div>
      <label for="banda2" class="block text-lg font-semibold">Banda 2:</label>
      <select formControlName="banda2" class="block w-full border rounded-lg px-3 py-2">
        <option *ngFor="let color of colores" [value]="color.valor">{{ color.nombre }}</option>
      </select>
    </div>

    <div>
      <label for="potencia" class="block text-lg font-semibold">Banda 3:</label>
      <select formControlName="potencia" class="block w-full border rounded-lg px-3 py-2">
        <option *ngFor="let color of potencializadores" [value]="color.valor">{{ color.nombre }}</option>
      </select>
    </div>
  </div>

  <div class="mt-6">
    <h3 class="text-lg font-semibold">Tolerancia:</h3>
    <label class="inline-flex items-center">
      <input type="radio" formControlName="tolerancia" [value]="'oro'" class="mr-2"> Oro (5%)
    </label>
    <label class="inline-flex items-center ml-6">
      <input type="radio" formControlName="tolerancia" [value]="'plata'" class="mr-2"> Plata (10%)
    </label>
  </div> 
  <button class="bg-green-500 text-blue-500 text-lg px-5 py-3 rounded-lg mt-6 mr-4 hover:bg-green-700 hover:text-blue-700" type="submit" (click)="guardarCalculo()">
    Calcular
  </button>
  <button (click)="imprimirTabla()" class="mb-6 bg-green-500 text-blue-500 font-semibold text-lg py-3 px-5 rounded-lg mt-6 hover:bg-green-700 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-green-600">
    Calculos anteriores
  </button>
</form>
<br>
<h3 class="text-lg font-semibold mt-6 max-w-sm mx-auto">Cálculos Acumulados</h3>
<table *ngIf="historial.length > 0 && tabla" class="table-auto mt-4 max-w-xs mx-auto text-sm">
  <thead class="bg-gray-100">
    <tr>
      <th class="px-2 py-1">Banda1</th>
      <th class="px-2 py-1">Banda2</th>
      <th class="px-2 py-1">Banda3</th>
      <th class="px-2 py-1">Tolerancia</th>
      <th class="px-2 py-1">Valor</th>
      <th class="px-2 py-1">V máx</th>
      <th class="px-2 py-1">V mín</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of historial">
      <td class="border px-2 py-1" [ngStyle]="{'background-color': registro.color1}">{{ registro.nombre1 }}</td>
      <td class="border px-2 py-1" [ngStyle]="{'background-color': registro.color2}">{{ registro.nombre2 }}</td>
      <td class="border px-2 py-1" [ngStyle]="{'background-color': registro.color3}">{{ registro.nombre3 }}</td>
      <td class="border px-2 py-1" [ngStyle]="{'background-color': registro.color4}">{{ registro.nombre4 }}</td>
      <td class="border px-2 py-1">{{ calcularResistencia(registro.nombre1, registro.nombre2, registro.nombre3) }} Ohms</td>
      <td class="border px-2 py-1">{{ calcularValorMaximo(registro.nombre1, registro.nombre2, registro.nombre3, registro.nombre4) }} Ohms</td>
      <td class="border px-2 py-1">{{ calcularValorMinimo(registro.nombre1, registro.nombre2, registro.nombre3, registro.nombre4) }} Ohms</td>
    </tr>
  </tbody>
</table>

